.alertas{
    text-align: left !important;
}
#link-inscrevase a{

    color: #000;

}

#link-inscrevase a:hover{

    text-decoration: underline;

}

#fundo-youtube{

    background-image:url(../images/fundo-youtube.jpg);

    height: 110px;

    background-repeat: no-repeat;

}
.discografiap{
    background-color: #3b3b3b;
    height: 40px;
    margin: 5px 0 0 0;
    color: #fff;
    padding: 10px 0 10px 0;
    text-align: center;
}
.discografiap span{
    margin: 0 10px 0 10px;
}
.discografiap a{
    color: #fff;
}
.discografiap a:hover{
    color: #fff;
    text-decoration: underline;
}
.fancybox-inner{
    margin-top: 25px;
}


/*MODAL DE CARREGAMENTO DO SISTEMA*/
.dialog{
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10050;
    outline: 0;    
    display: none;  
    position: absolute;
    background-color: rgba(0,0,0,0.5);  
}
.dialog .loadsistem{
    vertical-align: middle;
    max-width: 800px;
    padding-bottom: 20px;
    height:auto;
    text-align: center;
    background: #fff;
    left: 20px;
    right: 20px;
    margin: 0 auto;    
    top: 5%;
    z-index: 10051;
    
}
.dialog .loadsistem{font-weight: bold;color: #555;font-size: 14px;}
.dialog .loadsistem img{margin-bottom: 8px;}
.dialog-topo{
    height: 218px;
    padding-top: 40px;
    background: url(../images/overlay_head-.jpg) center top no-repeat;
}
.dialog-topo h3 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    margin: 0 0 15px;    
}
.dialog-topo p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;    
    margin: 0 0 21px;
}

.formmodal{
    padding: 10px 40px 0 40px;
    margin-bottom: 0px;
}

.formmodal label{
    text-align: left;
    width: 100%;    
}

.modal-btn{
    font-size: 1em;
    color: #fff;
    border-radius: 4px;    
    padding: 10px 20px;
    font-family: roboto;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    border-width: 0px;
}
.btnsuccess{
   background: #99c14e; 
}
.btnfechar{
   background: #568089; 
}
.formmodal input[type="text"],input[type="email"]{
    background-color: transparent;
    border-color: rgba(255,255,255,.1);
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modalfooter{
    text-align: right;
}
.hiddemmodal{
    display: none;
}
/*UNSUBSCRIB*/
.unsubscrib{
    width: 100%;
    text-align: center;
}